@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .input-ui {
    @apply w-full px-5 py-4 rounded-full border border-gray-300
    focus:outline-none focus:ring-2 focus:ring-[#8FA6C9]
    placeholder-gray-400;
  }
}
.sidebar-item{
    display:block;
    padding:12px 16px;
    border-radius:9999px;
    transition:.2s;
}
.sidebar-item:hover{
    background:white;
}

.stat-card{
    padding:24px;
    border-radius:20px;
    font-size:28px;
    font-weight:bold;
    box-shadow:0 10px 20px rgba(0,0,0,.1);
}
.stat-card span{
    display:block;
    font-size:14px;
    font-weight:normal;
}
.status-baru {
    @apply bg-green-100 text-green-700 px-4 py-1 rounded-full text-sm font-medium text-center min-w-[80px];
}

.status-diproses {
    @apply bg-red-100 text-red-600 px-4 py-1 rounded-full text-sm font-medium text-center min-w-[80px];
}

.status-selesai {
    @apply bg-blue-100 text-blue-600 px-4 py-1 rounded-full text-sm font-medium text-center min-w-[80px];
}

